<br>
<h1>About</h1>
<div class="card" style="width: 50rem;">
  <img src="<%= image_path('plants.jpg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Here's a story about Jungle...</h5>
    <p class="card-text">
      Welcome to our green oasis! At JUNGLE, we believe in bringing the beauty of nature to your doorstep. Our passion for plants goes beyond the ordinary – we curate a collection of unique and diverse green companions to enrich your living spaces.
    </p>
    <p class="card-text">
      As plant enthusiasts, we understand that each leaf tells a story and adds a touch of tranquility to your home. Whether you're a seasoned plant parent or just starting your green journey, our carefully selected plants are here to inspire and thrive with you.
    </p>
    <p class="card-text">
      But wait, there's something special about our shop that we can only share with those who truly appreciate the extraordinary. Behind the scenes, in our "back room," lies a curated selection of rare and exclusive plants. These hidden gems are waiting for the right plant connoisseur to discover them. If you're curious and ready for a more exclusive green experience, just whisper the words "secret garden" to our staff.
    </p>
    <p class="card-text">
      Join us on this botanical adventure, and let's make your space a little greener, one leaf at a time.
      
      Happy planting! 🌿
    </p>
    <a href="/categories/1" class="btn btn-primary">See our famous Evergreens</a>
  </div>
</div>
